body {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 1.25rem;  
}

#wrapper {
    display: block;
}

img {
    margin: auto;
    resize: none; 
}

h1 {
    margin-top: 75px;
}

h1, #tileHolder, #board {
    margin-bottom: 75px;
}

#boardWrapper {
    position: relative;
    /*
    margin: 0 auto; 
    text-align: center;
    */
}

.dropArea {
    position: absolute;
    width: 65px; 
    height: 65px; 
    /*margin: 5px; */
    top: 5px;
    left: 5px;
}

#middleWrapper {
    display: flex;
}

button, #scoreLabel {
    margin: 50px;
}

button {
    width: 100px;
    height: 75px;
}

#tileHolderWrapper {
    position: relative;
    margin: 0;
    width: 800px;
}

#tileHolder {
    height: 100px;
    width: 800px;
}

.tiles {
    position: absolute;
    width: 65px;
    height: 65px;
    top: 0;
    left: 0;
}
